.sideBar {
  flex: 0 300px;
  height: 100vh;
  color: #fff;
  display: flex;
}

.tabs {
  background: #191c21;
  width: 52px;

  .tabItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 6px;
    cursor: pointer;
    color: #a1a9b3;
    font-size: 12px;

    &.active {
      background: #0a0b0d;
      color: #2483ff;

      .iconfont {
        color: #2483ff;
      }
    }

    .iconfont {
      font-size: 30px;
      color: #fff;
    }
  }
}

.tabsContentWrap {
  background: #0a0b0d;
  height: 100%;
  flex: 1;

  .tabsContent {
    .componentList {
      display: grid;
      grid-template-columns: 2fr 2fr;

      .componmentItem {
        display: flex;
        flex-direction: column;
        text-align: center;
        cursor: pointer;

        .iconfont {
          font-size: 40px;
        }
      }
    }
  }
}
