<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>马良</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/2.1.3/normalize.css" rel="stylesheet">
</head>

<body>
    <div id="root"></div> 
</body>

</html>