:root {
  --ml-header-bg-color: #1d1e1f;
  --ml-gui-bg: #191c21;
  --ml-nav-bg: #13161a;
  --ml-nav-active-bg: #1d2126;
  --ml-main-color: #2681ff;
  --ml-gui-component-border-color: #0b0c0d;
  --ml-gui-component-border: 1px solid var(--ml-gui-component-border-color);
  --ml-gui-primary-color: #2483ff;
  --ml-gui-error-color: #ff4f43;
  --ml-gui-hover-color: #26a5ff;
  --ml-gui-active-color: #2693ff;
  --ml-gui-disabled-color: #424447;
  --ml-gui-background-color-front: hsl(215, 15%, 13%);
  --ml-gui-background-color-front-lighter: hsl(215, 15%, 28%);
  --ml-gui-background-color-back: hsl(215, 15%, 8%);
  --ml-gui-background-color-back-darker: hsl(0, 0%, 0%);
  --ml-gui-background-hover-color: #1b3964;
  --ml-gui-component-background-color: #262c33;
  --ml-gui-component-background-color-darker: #262c33;
  --ml-gui-component-background-hover-color: #303640;
  --ml-gui-component-background-active-color: #262b33;
  --ml-gui-component-background-disabled-color: #13161a;
  --ml-gui-font-color-base: #a1aeb3;
  --ml-gui-font-color-1: #fff;
  --ml-gui-font-color-2: #c3d3d9;
  --ml-gui-font-color-3: #737c80;
  --ml-gui-font-color-description: #5c6366;
  --ml-gui-font-color-disabled: #424447;
  --ml-gui-border-color: rgba(52, 52, 52, 0.5);
  --ml-gui-cover-color: rgba(0, 0, 0, 0.75);
  --ml-gui-component-slider-track-color: linear-gradient(
    to right,
    #74f0ff,
    #2681ff
  );
  --ml-gui-disabled-opacity: 0.6;
  --ml-gui-popover-shadow: 0 0 4px #000;
  --ml-gui-logo-color: rgba(255, 255, 255, 0.25);
  --ml-gui-font-size-base: 12px;
  --ml-gui-icon-size-md: 14px;
  --ml-gui-transition-time: 0.3s;
  --ml-gui-transition-easing: ease-in-out;
  --ml-gui-slider-handle-bg: #fff;
  --ml-gui-padding-border-color: #737c80;
  --ml-gui-field-show-hide-bg: #6d7278;
  --ml-btn-bg-default: #303640;
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}
